body {
  margin: 20px;
  width: 100vw;
  height: 100vw;
  
  font-family: Helvetica;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

ul {
  padding: 0;
  list-style: none;
}
