body {
  margin: 0;
  width: 100vw;
  height: 100vh;

  font-family: Helvetica;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

ul {
  padding: 0;
  list-style: none;
}

h1 {
  margin: 0;
  background-color: turquoise;
  color: red;
  padding: 0.25em;
  border-radius: 0.1em;
}
